[submodule "libraries/ac-library"]
	path = libraries/ac-library
	url = https://github.com/atcoder/ac-library.git
[submodule "libraries/ei1333"]
	path = libraries/ei1333
	url = https://github.com/ei1333/library.git
[submodule "libraries/nyaan"]
	path = libraries/nyaan
	url = https://github.com/NotLeonian/Nyaan-Library
[submodule "libraries/suisen"]
	path = libraries/suisen
	url = https://github.com/NotLeonian/cp-library-cpp
[submodule "libraries/niche-library"]
	path = libraries/niche-library
	url = https://github.com/NotLeonian/NicheLibrary.git
